{
  "version": 1,
  "logs": {
    "tty": "/dev/tty2",
    "initTty": "/dev/tty3",
    "lines": 300,
    "dir": "/data/logs",
    "logToFiles": false
  },
  "socket": "/data/run/microinit.sock",
  "console": "/dev/tty1",
  "services": [
    {
      "name": "network",
      "enabled": true,
      "daemon": false,
      "restartPolicy": "none",
      "restartBackoff": 2,
      "successExitCodes": [
        0
      ],
      "startWaitSecs": 0,
      "shutdownWaitSecs": 5,
      "background": false,
      "dependsOn": [],
      "cmd": "/etc/init.d/network",
      "startCmd": null,
      "stopCmd": null,
      "restartCmd": null,
      "env": {},
      "cwd": "/",
      "orderPriority": 30
    },
    {
      "name": "redis",
      "enabled": true,
      "daemon": true,
      "restartPolicy": "onError",
      "restartBackoff": 2,
      "successExitCodes": [
        0
      ],
      "startWaitSecs": 1,
      "shutdownWaitSecs": 5,
      "background": false,
      "dependsOn": [
        "network"
      ],
      "cmd": "/etc/init.d/redis",
      "startCmd": null,
      "stopCmd": null,
      "restartCmd": null,
      "env": {},
      "cwd": "/",
      "orderPriority": 100
    },
    {
      "name": "remote-icmp",
      "enabled": true,
      "daemon": true,
      "restartPolicy": "onError",
      "restartBackoff": 5,
      "successExitCodes": [
        0
      ],
      "startWaitSecs": 0,
      "shutdownWaitSecs": 5,
      "background": true,
      "dependsOn": [
        "network"
      ],
      "cmd": null,
      "startCmd": "/usr/bin/bigfred-remote-icmp --config /data/etc/loco-server.conf",
      "stopCmd": "killall bigfred-remote-icmp",
      "restartCmd": null,
      "env": {},
      "cwd": "/",
      "securityContext": {
        "runAsUser": "nobody",
        "capabilities": [
          "CAP_NET_RAW"
        ]
      },
      "orderPriority": 210
    }
  ]
}
